:root {
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --Linear-gradient-active-input-border: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --Red-input-errors: hsl(0, 100%, 66%);
}
.body{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  width: 100%;
}